/* -------------------------- *\
	Theme Overrides
\* -------------------------- */

.templateux-block-play {
	margin: auto;
    margin-top: calc(56.25% / 2);
    background-color: #ff0000;
    margin-bottom: calc(56.25% / 2);
}

.templateux-block-play:hover {
	background-color: hsl(0, 100%, 40%);
}

.templateux-block-play span {
	color: white;
}

/* -------------------------- *\
	Element Styling
\* -------------------------- */


.light-shadow {
	-webkit-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.5); 
	box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.5);
}

/* -------------------------- *\
	Buttons
\* -------------------------- */

.bottom-cta-button {
	margin-top: 2em;
	display: block;
	margin-left: auto;
	margin-right: 0px;
	width: fit-content;
}

@media only screen and (max-width: 575px) {
	.bottom-cta-button {
		width: 100%;
	}
}

/* -------------------------- *\
	Custom Rows
\* -------------------------- */

.gray-row {
	background: rgb(255,255,255); /* Old browsers */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 );
	padding: 64px;
}

@media only screen and (max-width: 575px) {
	.gray-row {
		padding: 16px;
	}
}

/* -------------------------- *\
	Custom Divs
\* -------------------------- */

.background-card {
	width: 100%;
	padding-top: 56.25%;
	position: relative;
	background-size: cover;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 8px;
}

.video-box {
	width: auto;
	background-size: cover;
	display: flex;
	background-position: center;
	-webkit-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.5); 
	box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.5);
}

.card-overlay {
	position: absolute;
	border-radius: 8px;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 95%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 95%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 95%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000',GradientType=0);
}

.card-overlay > .card-footer {
	bottom: 0px;
    position: absolute;
    color: white;
    padding: 24px;
    background-color: transparent;
    border-top: 0px;
}

.color-box-blue {
	background: hsla(209, 30%, 19%, 1) !important;
	
}

.color-box {
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 8px;
	background: hsl(0, 0%, 92.5%);
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.5); 
	box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.5);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
}

.color-box:hover {
	transform: translateY(5px);
	-webkit-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.5); 
	box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.5);
	background: hsl(0, 0%, 87.5%);
	cursor: pointer;
}

.color-box-content {
	position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

.color-box-content .content-wrapper {
   display: table;
   width: 100%;
   height: 100%;
}

.color-box-content .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

.color-box-content .content .icon {
	color: black;
	font-size: 72px;
	margin-bottom: 24px;
	display: block;
}

.image-box-edge {
	margin-top: 0px;
	margin-bottom: 16px;
	background-color: hsl(0, 0%, 97.5%);
	-webkit-box-shadow: 0px 4px 6px -2px #424242; 
	box-shadow: 0px 4px 6px -2px #424242;
	transition: 0.25s all;
	-webkit-transition: 0.25s all;
}

.image-box-edge:hover {
	margin-top: 8px;
	margin-bottom: 8px;
	-webkit-box-shadow: 0px 0px 15px -8px #424242; 
	box-shadow: 0px 0px 15px -8px #424242;
}

.image-box-edge > .image-box-image {
	height: 150px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.image-box-edge > .image-box-info {
	background-color: hsl(0, 0%, 97.5%);
	padding: 36px;
	text-align: center;
}

.gray-box {
	background-color: hsl(0, 0%, 97.5%);
	border-bottom: 4px solid hsl(0, 0%, 80%);
	border-radius: 12px;
	padding: 2em;
}

.page-header {
	min-height: 300px;
	display: flex;
}

.page-header > .container {
	margin: auto;
    display: block;
}

@media only screen and (max-width: 575px) {
	.color-box {
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.color-box-content .content {
		padding: 24px;
	}

	.color-box-content .content .icon {
		font-size: 36px;
	}

	.color-box-content .content h5 {
		font-size: 14px;
	}

	.page-header {
		min-height: 200px;
	}
}

/* -------------------------- *\
	Custom Text
\* -------------------------- */

.color-box-blue .color-box-content .content-wrapper .content > h5 {
	color: white;
}

.color-box-blue .color-box-content .content-wrapper .content > span {
	color: white;
}

.heading {
	margin-top: 0em;
}

.banner-heading {
	margin-top: 2.5em;
}

.image-box-edge > .image-box-info > h5 {
	font-size: 20px;
}

.card-footer > h5 {
	color: white;
	margin-bottom: 8px;
}

.card-footer > a {
	color: white;
	background-color: hsl(0, 0%, 15%);
	padding: 4px 16px;
}

@media only screen and (max-width: 575px) {
	.card-footer > h5 {
		color: white;
		margin-bottom: 8px;
		font-size: 16px;
	}


	.heading {
		margin-top: 0.5em;
	}

	.banner-heading {
		margin-top: 0.5em;
	}
}

/* -------------------------- *\
	Custom Images
\* -------------------------- */

.regular-image {
	width: 100%;
	height: auto;
}